<header class="searchBar">
    <a href="">
        <h1>Movie Magic🪄</h1>
    </a>
    <input type="text" placeholder="🔎 Indiana Jones">
    <button type="button" class="glow-on-hover">Search</button>
</header>