<header class="searchBar">
    <a href="/movieDetails">
        <h1>Movie Magic🪄</h1>
    </a>
    <form action="/search" method="get">
        <input type="text" name="input" placeholder="🔎 Indiana Jones">
        <button type="submit" class="glow-on-hover">Search</button>
    </form>
</header>